AddDefaultCharset UTF-8
DirectoryIndex public/index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f [NC,OR]
RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule public\/js - [L]
RewriteRule public\/upload - [L]
RewriteCond %{QUERY_STRING} !path= [NC]
RewriteRule .* public/index.php?path=home/index [L,QSA,NC]