<html>
  <head>
  	<title>{{title}}</title>
  </head>
  <body>
	<h2>{{title}}</h2>

	<ul>
	{% for customer in customerCollection %}
		<li>{{customer.id}} {{customer.login}} {{customer.email}}</li>
	{% endfor %}
	</ul>
	
  </body>
</html>
