{% extends 'layout.twig' %}

{% block content %}
    <h1>Gallery</h1>

<div class="row">
    {% if images %}
        {% for image in images %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="\?p=image&id={{ loop.index }}"><img src="{{ image }}" class="img-thumbnail"></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Images not found =( Please put the images to "/images" catalog</p>
    {% endif %}
</div>
{% endblock %}