{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% block sidebar %}
                <h1>Twig Gallery</h1>
                <p>See Twig documentation <a href="https://twig.symfony.com/doc/2.x/" target="_blank">here</a>.</p>
            {% endblock sidebar %}
        </div>
        <div class="col-md-8">
            {% block main %}
            {% endblock main %}
        </div>
    </div>
{% endblock content %}